.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-mdc-table {
    background: rgb(94, 92, 92);
  }
  .mat-mdc-paginator {
    margin-top: 10px;
    background: rgb(94, 92, 92);
  }
  td,
  th {
    width: 16%;
  }
  
  .mdc-data-table__table {
    min-width: 100%;
  }
  .title{
    display: flex;
    justify-content: center;
  }