
<div class="container">
    
    <div class="login-box">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="user-box">
          <input type="text" name="email" required="" formControlName="email">
          <label>Email</label>
          
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" formControlName="password">
          <label>Password</label>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">you are not registered?<button type="button" class="btn btn-link" routerLink="/login">Register</button></div>
        </div>
        <button type="submit" class="button"><span></span><span></span><span></span><span></span>Log In</button>
      </form>
    </div>
  </div>