.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  max-width: 75%;
  max-height: 100%;
  padding: 16px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
.step1, .step2, .step3 {
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 1px solid black;
}

.panel{
  margin: 16px;
}

.date{
  margin: 16px;
}

.button{
  margin-top: 16px;
}
.listSemester{
  margin: 25px;
}
mat-label{
  color: rgb(20, 19, 20);
}
mat-mdc-checkbox{
color: pink;
}
mat-mdc-checkbox mat-accent{
  background-color: red;
  color: blue;
}
mat-mdc-checkbox{
  color: rebeccapurple;
}
h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0058c2;
}

.step {
  margin-top: 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #0077ff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  margin-right: 10px;
  width: 50px;
}
.mat-mdc-form-field {
  margin-top: 16px;
}
