
<button mat-button  routerLink="/semester" ><i class="fa-solid fa-backward"></i></button>
<div class="card">
  <h2>Crear Cuatrimestre</h2>
  <div class="buttons"></div>
  <div class="step">
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <div class="step1">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>1</ng-template>
            <div class="date">
              <mat-form-field appearance="fill">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="fromDate" [(ngModel)]="semester.fromDate"/>
                <mat-datepicker-toggle matIconSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" style="margin-left: 10px">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="toDate" [(ngModel)]="semester.toDate"/>
                <mat-datepicker-toggle matIconSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" style="margin-left: 10px">
                <mat-label>Tipo cuatrimestre</mat-label>
                <mat-select [(ngModel)]="semester.semesterType" name="s">
                  <mat-option *ngFor="let s of semesters" [value]="s.value">
                    {{ s.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="button">
          <button mat-button matStepperNext>Seguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <div class="step2">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>2</ng-template>
            <section class="listSemester" [formGroup]="carrera">
             <mat-form-field floatLabel="auto">
              <mat-label>CARRERA</mat-label> 
              <mat-select multiple formControlName="listResult" 
                placeholder="CARRERA" floatPlaceholder="never">
                <mat-option *ngFor="let degree of listDegree" [value]="degree.id">
                  {{degree.name}} 
                </mat-option>
              </mat-select>
            </mat-form-field>
            </section>
          </form>
        </div>
        <div class="button">
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext (click)="loadSubjects(carrera)">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="threeFormGroup">
        <div class="step3">

          <form [formGroup]="threeFormGroup">
            <ng-template matStepLabel>3</ng-template>
            <div class="panel">
              <h4>Seleccione materias</h4>
              <!--<mat-accordion>-->
                <!--<mat-expansion-panel style="margin-bottom: 15px" (opened)="panelOpenState = true" (closed)="panelOpenState = false">-->
                  <section class="listSemester" [formGroup]="subjectsBuilder">
                  <mat-form-field floatLabel="auto">
                     <mat-label>MATERIAS</mat-label> 
                     <div formArrayName="subjectsListSelect">
                        <div *ngFor="let degree of listDegreeWithSubjects">
                          <mat-select multiple formArrayName="subjects" 
                            placeholder="MATERIAS" floatPlaceholder="never">
                            <mat-option *ngFor="let subject of degree.subjects" [value]="subject.id">
                              {{subject.name}} 
                            </mat-option>
                          </mat-select>
                      </div>
                     </div>
                    </mat-form-field>
                   </section>
                <!--</mat-expansion-panel>

                
              </mat-accordion>-->
            </div>
          </form>
        </div>

        <div class="button">
          <button mat-button matStepperPrevious>Volver</button>
          
          <button mat-button (click)="stepper.reset()">Guardar</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
