
<button class="button animation-button blue" mat-button  routerLink="/semester" ><i class="fa-solid fa-backward"  style="color: black;"></i></button>
<div class="card">
  <h2>Crear Cuatrimestre</h2>
  <div class="buttons"></div>
  <div class="step">
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <div class="step1">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="date">
              <mat-form-field appearance="fill">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="fromDate" formControlName="fromDateSemester"/>
                <mat-datepicker-toggle matIconSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" style="margin-left: 10px">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="toDate" formControlName="toDateSemester"/>
                <mat-datepicker-toggle matIconSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" style="margin-left: 10px">
                <mat-label>Tipo cuatrimestre</mat-label>
                <mat-select formControlName="semesterTypeForm" name="s">
                  <mat-option *ngFor="let s of semesters" [value]="s.value">
                    {{ s.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="button">
          <button mat-button matStepperNext >Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <div class="step2">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel></ng-template>
            <section class="listSemester" [formGroup]="carrera">
             <mat-form-field floatLabel="auto">
              <mat-label>CARRERA</mat-label> 
              <mat-select multiple formControlName="listResult" 
                placeholder="CARRERA" floatPlaceholder="never">
                <mat-option *ngFor="let degree of listDegree" [value]="degree.id">
                  {{degree.name}} 
                </mat-option>
              </mat-select>
            </mat-form-field>
            </section>
          </form>
        </div>
        <div class="button">
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext (click)="loadSubjects(carrera)">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="threeFormGroup">
        <div class="step3">
          <form [formGroup]="threeFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="panel">
              <h4>Seleccione materias</h4>
              <section class="listSemester" [formGroup]="subjectsBuilder">
                <div *ngIf="isValid">
                  <mat-form-field appearance="fill">
                    <mat-label>Materias</mat-label>
                    <mat-select [formControl]="carrer2a" multiple>
                      <mat-optgroup style="font-weight: bolder;" *ngFor="let degree of listDegreeWithSubjects" label="{{degree.name}}"
                                    >
                        <mat-option *ngFor="let subject of degree.subjects" [value]="subject">
                          {{subject.name}}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </div>
              </section>
            </div>
          </form>
        </div>
        <div class="button">
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button (click)="saveSemester(carrer2a)">Guardar</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
