<div class="add">
  <button type="button" class="btn btn-primary">Agregar Cuatrimestre</button>
</div>
<div class="container">
  <div class="card">
    <img
      src="https://cdn.bhdw.net/im/white-chalk-and-blackboard-used-in-schools-for-education-teaching-wallpaper-95599_w635.webp"
      alt=""
    />
    <div class="card-content">
      <h2>Primer Cuatrimestre</h2>
      <p>
        <li>Comienzo de clases: 3 de Marzo</li>
        <li>Fin: 17 de julio</li>
      </p>
      <a class="button">
        <button type="button" class="btn btn-primary">Ver más</button>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.bhdw.net/im/white-chalk-and-blackboard-used-in-schools-for-education-teaching-wallpaper-95599_w635.webp"
      alt=""
    />
    <div class="card-content">
      <h2>Segundo Cuatrimestre</h2>
      <p>Aún no disponible</p>
      <a class="button">
        <button type="button" class="btn btn-primary">Ver más</button>
      </a>
    </div>
  </div>
</div>
