<div class="container-fluid" style="margin-top: 10em">
    <div class="row" style="justify-content: center">
      <div class="col">    
        <div class="card">
          <img
            src="https://cdn.bhdw.net/im/white-chalk-and-blackboard-used-in-schools-for-education-teaching-wallpaper-95599_w635.webp"
            alt=""
          />
          <div class="card-content">
            <h2>Primer Cuatrimestre</h2>
            <p>
              Comienzo de clases: 10/03/2023
              <br/>
              <br/>
              Finalización de clases: 21/07/2023
            </p>
            
            <a hr class="button" routerLink="/degree" class="btn btn-primary">
              Ver más
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://cdn.bhdw.net/im/white-chalk-and-blackboard-used-in-schools-for-education-teaching-wallpaper-95599_w635.webp"
            alt=""
          />
          <div class="card-content">
            <h2>Segundo Cuatrimestre</h2>
            <p>Ofertas no disponibles</p>
            <a hr class="button" routerLink="/degree" class="btn btn-primary">
              Ver más
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  