.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.mat-toolbar.mat-primary {
    background: #05000c;
    color: #fff;
}
mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 24px;
  height: calc(100vh - 40px);
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

mat-list-item {
  margin-bottom: 12px;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  mat-sidenav {
    width: 200px;
  }

  mat-sidenav-content {
    padding: 16px;
    height: calc(100vh - 40px);
  }
}
