.container{}
 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  width: 100%;
}

.step1 {
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 1px solid black;
}

.date{
  margin: 16px;
  display: flex;
}

.button{
  margin-top: 16px;
}

h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.step {
  margin-top: 20px;
  width: 90%;
}

.mat-mdc-form-field {
 
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
  color: white;
  background: none;
  border-radius: 0;  
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-table {
  background: rgb(139, 129, 129);
}

.mat-mdc-paginator {
  margin-top: 10px;
  background: rgb(94, 92, 92);
}

td,
th {
  width: 16%;
}

.mdc-data-table__table {
  min-width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}



.mat-mdc-form-field {
  margin-right: 16px;
}
@media screen and (min-width: 1920px) and (min-height: 1080px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1366px) and (min-height: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
