<div class="container">
  <div class="register-box">
    <h2>Registrarse</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="user-box">
            <input type="text" name="firstname" required="" formControlName="firstname" autocomplete="off" />
            <label>Nombre</label>
          </div>
        </div>
        <div class="col">
          <div class="user-box">
            <input type="text" name="" required="" formControlName="lastname" autocomplete="off"/>
            <label>Apellido</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="user-box">
            <input type="text" name="" required="" formControlName="dni" autocomplete="off" />
            <label>DNI</label>
          </div>
        </div>
        <div class="col">
          <div class="user-box">
            <input type="text" name="" required="" formControlName="email" autocomplete="off" />
            <label>Email</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="user-box">
            <input type="password" name="" required="" formControlName="password" />
            <label>Contraseña</label>
          </div>
        </div>
        <div class="col">
          <div class="user-box">
            <input
              type="password"
              name=""
              required=""
              formControlName="repeatPassword"
            />
            <label>Repetir contraseña</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="user-box">
            <select type="text" name="" required="" formControlName="role">
              <option>Estudiante</option>
              <option>Profesor</option>
            </select>
            <label>Seleccionar</label>
          </div>
        </div>
        <div class="col">
          <div class="user-box"></div>

         
        </div>
      </div>
      <div class="user-box2">Ya estás registrado?<button type="button"class="btn btn-link" routerLink="/login">Login</button></div>
      <!-- <div class="row">
        <div class="col-5"></div>
        <div class="col-7">Ya tienes una cuenta?<button type="button" class="btn btn-link" routerLink="/login">Ingresar</button></div>
      </div> -->
      
      <button type="submit" class="button">
        <span></span><span></span><span></span><span></span>Register
      </button>
      
    </form>
   
  </div>
</div>
