.container {
  background-color: #d9e2ee;
}
.dialog-title {
  background-color: #f0f0f0;
  padding: 10px;
}

.content {
  padding: 20px;
  display: flex;
}

.action {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.mat-mdc-raised-button.mat-primary {
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
