<div class="container">
  <div mat-dialog-title>
    <h6>Agregar una nueva Carrera</h6>
  </div>
  <form [formGroup]="formGroupCreate" (ngSubmit)="onSubmitForm()">
    <div mat-dialog-content class="content">
      <div class="example-full-width">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre:</mat-label>
          <input formControlName="name" matInput placeholder="" value="" />
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="onNoClick()">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "" : "Guardar" }}
      </button>
    </div>
  </form>
</div>
