<div class="container">
  <div id="image1" class="section">
    <div class="content">
      <h1>Carreras</h1>
      <ul>
        <li>Licencitura en informática</li>
        <li>Biotecnología</li>
        <li>Ingeniería en Alimentos</li>
        <li>Ingeniería Naval</li>
      </ul>
    </div>
    <div class="overlay"></div>
  </div>

  <div id="image2" class="section">
    <div class="content">
      <h1>Inscripciones</h1>
      <ul>
        <li>Comienzo: 3 de Marzo</li>
        <li>Finalizan: 10 de Marzo</li>
        <li>Comienzo de cursada: 25 de marzo</li>
      </ul>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="image3" class="section">
    <div class="content">
      <h1>Campus</h1>
      <p>Dirección: Calchaqui 2025</p>
      <p>Contacto: 1234568910</p>
    </div>
    <div class="overlay"></div>
  </div>
</div>
